ROS_DOMAIN_ID=42
ROS_AUTOMATIC_DISCOVERY_RANGE=SUBNET
RMW_IMPLEMENTATION=rmw_fastrtps_cpp
DISPLAY=:0
SICK_LAUNCH_FILE=sick_tim_5xx.launch.py
SICK_FRONT_IP=192.168.0.52
SICK_REAR_IP=192.168.0.51
SICK_FRONT_FRAME=sick_front_link
SICK_REAR_FRAME=sick_rear_link

RS_FRONT_SERIAL=947522071563
RS_REAR_SERIAL=
